* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: normal;
  font-style: normal;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  font-size: .32rem;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: .94rem;
  background: #103279;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .3rem;
}

.header a {
  color: #fff;
  flex: 1;
}

.header a:nth-child(2) {
  text-align: center;
}

.section {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.section .jl {
  width: 100%;
  height: .6rem;
  line-height: .62rem;
  color: #c1c6ca;
  padding-left: .3rem;
  font-size: 12px;
  border-bottom: 1px solid #eaecf8;
}

.section .list {
  width: 100%;
}

.section .list li {
  width: 100%;
  height: 1.06rem;
  padding-left: .3rem;
  border-bottom: 1px solid #eaecf8;
}

.section .list li h4 {
  width: 100%;
  height: .65rem;
  line-height: .65rem;
  font-weight: 400;
  font-size: 14px;
}

.section .list li h4 input {
  position: absolute;
  right: .4rem;
  margin-top: .1rem;
}

.section .list li p {
  width: 100%;
  height: .33rem;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: .2rem;
}

.section .list li p span {
  color: #bfc4ca;
}

.section .list li p span:nth-child(1) {
  color: #2eaf86;
  width: 3.2rem;
}

.section .list li p span:nth-child(2) {
  flex-shrink: 0;
  font-size: 10px;
  width: 1.3rem;
}

.section .list li p span:nth-child(3) {
  flex-shrink: 0;
  font-size: 10px;
}

.section .list li p span:nth-child(3) i:nth-child(2) {
  padding-left: .08rem;
}
