* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    font-size: .32rem;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: .94rem;
    background: #103279;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .3rem;
    a {
        color: #fff;
        flex: 1;
        &:nth-child(2) {
            text-align: center;
        }
    }
}